<footer class="footer_menu" *ngIf="nav.visible">
    <ul>
        <li><a class="" routerLink="/home"><span>Home</span> <i class="fa fa-home"></i></a></li>
        <li><a class="" routerLink="/activities"><span>Activities</span><i class="fa fa-bars"></i></a></li>
        <li><a class="" routerLink="/food"><span>Food</span><i class="fa fa-cutlery"></i></a></li>
        <li><a class="" routerLink="/offers"><span>Offers</span><i class="fa fa-gift"></i></a></li>
        <li><a class="" routerLink="/feedback"><span>Feedback</span><i class="fa fa-comments-o"></i></a></li>
    </ul>
</footer>