

<div class="activities_content">
   <div class="activities_list">
      <ul>
         <li>
            <a routerLink="/food/roomservice">
            <i class="fa fa-cutlery"></i>
            <span>Room service</span>
            </a>   
         </li>
         <li>
            <a routerLink="/food/breakfast">
            <i class="fa fa-cutlery"></i>
            <span>Breakfast</span>
            </a>   
         </li>
         <li>
            <a routerLink="/food/lunch">
            <i class="fa fa-cutlery"></i>
            <span>Lunch</span>
            </a>   
         </li>
         <li>
            <a routerLink="/food/dinner">
            <i class="fa fa-cutlery"></i>
            <span>Dinner</span>
            </a>   
         </li>
      </ul>
   </div>
</div>

