<div class="app_form_bg" *ngIf="!isLoading">
   <!--
   <div class="row">
    <img src="./client/app/components/login/sir-adam-logo.png" style="width: 135px; height: 75px;">
   </div>
   -->

   <div id="guestForm" class="form_content_inner">
      <form class="form-container" [formGroup]="loginForm">
         <div class="form_head">
            <h4>Dear Guest,</h4>
            <p>Thank you for choosing our hotel. We hope this app will help you having a wonderful stay!</p>
         </div>
         <div class="form_fild_bg">

            <mat-form-field class="fild_box">
               <input matInput id="nameInput" type="text" placeholder="Enter Your Name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="fild_box">
               <input matInput id="email" type="text" placeholder="Enter Your Email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="fild_box">
               <mat-label>Select an option</mat-label>
               <select matNativeControl class="sl" id="sel1" formControlName="selectedLanguage">
                  <option label="--Select something --"></option>
                  <option value="en">English</option>
                  <option value="nl">Nederlands</option>
                  <option value="de">Deutsch</option>
                  <option value="fr">French</option>
               </select>
            </mat-form-field>

         </div>
         <div class="form_submit_button">
            <button (click)="goToConsentPopUp(false)" type="submit" class="btn">Login</button>
         </div>
         <div class="skip_button">
            <a (click)="goToConsentPopUp(true)"><i class="fa fa-angle-right"></i>&nbsp; Skip</a>
         </div>
      </form>
   </div>
   <div id="consent" style="display: none;" class="form_content_inner">
      <form class="form-container">
         <div class="form_head">
            <h4>Dear Guest,</h4>
            <p>Do you agree with our privacy statement?</p>
         </div>
         <div class="agree_checkbox">
            <input type="checkbox" id="scales" name="scales" (change)="checkConsentCheckBox($event)">
            <label for="scales">Yes, I agree.</label>
         </div>
         <div class="privacy_link">
            <a id="privacyStatement" routerLink="/login/privacy-policy">Privacy statement</a>
         </div>
         <div class="errormessage_bg">
            <p id="errorMessage">Please agree with the privacy statement, before you can continue to the app.</p>
         </div>
         <div class="form_submit_button">
            <button id="consentButton" (click)="giveConsent()" type="submit" class="btn" [disabled]="!ischecked"><i
                  class="fa fa-angle-right"></i>&nbsp; Go to the app</button>
         </div>
      </form>
   </div>
</div>