/*
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 40%;
    bottom: 40%;
    left: 40%;
  }
*/
  

  /* Transparent Overlay */
//   .loading-indicator:before {
//     content: '';
//     display: block;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,0.3);
//   }