<div class="assistant_content_bg">
   <div class="assistant_content_inner">
   
   <div>
   <div class="assistant_content_box">
   <p>Are you looking for a restaurant, tour or other activity in the neighbourhood of our hotel? Tell our
   digital assistant. He looks for activities tailored to you.</p>
   </div>
   
   
   <div class="loader_bg">
   <div class="loader_inner">
   <mat-spinner *ngIf="showSpinner" class="loading-indicator" mode="indeterminate"></mat-spinner>
   </div>
   </div>
   
   <div class="assistant_button" *ngIf="AudioMikeVisible">
   <button (click)="startRecording()" class="buttonDesignedInfo button5">
   <i class="fa fa-microphone"></i>
   </button>
   
   </div>
   
   
   </div>
   
   <!-- <button (click)="navigateAssistant()">page change</button> -->
   
   
   <div *ngIf="recordingStart">
   <div class="stoprecording_btn">
   
   <p id="time">{{recordedTime}}</p>
   <button id="#recButton" (click)="stopRecording()" class="Rec"></button>
   
   </div>
   
   <div class="assistant_content_box">
   <p>You are now telling our assistant what you are looking for</p>
   </div>
   
   </div>
   
   
   
   <div class="assistant_content_box" *ngIf="analyzingbox">
   <p>Our digital assistant is now searching for activies that suits your preferences.</p>
   </div>
   
   <div class="assistant_content_box" *ngIf="error">
   <p>Sorry, we could not find any interesting places for you tailored your preferences. Please try again.</p>
   </div>
   
   
   
   
   <!-- <div class="assistant_content_box">
   
   </div> -->
   
   
   
   
   
   <!-- <div class="row" >
   <div *ngIf="isRecording">
   <br>
   <button (click)="stopRecording()" class="Rec" >stop Recording</button>
   <br>
   </div>
   <div >
   <br>
   <div>
   <span >You are now telling our assistant what you
   are looking for</span>
   </div>
   </div>
   
   </div> -->
   <!-- {{blobUrl}} -->
   <!-- <audio *ngIf="!isRecording && blobUrl" controls>
   <source [src]="blobUrl" type="audio/webm">
   </audio> -->
   
   </div>
   </div>