<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
 -->


<!-- <agm-map [latitude]="latitude" [longitude]="longitude"  [scrollwheel]="true" 
  [fullscreenControl]='true' [mapTypeControl]='true'     >
    <agm-marker [latitude]="latitude" [longitude]="longitude"> 
        <agm-info-window [disableAutoPan]="true">
            <div class='agm-info-window-content'>     
            <img src="{{hotel.image}}">
            <div>{{hotel.name}}</div>
                <h1>{{htoel.city}}</h1>
            </div>
        
        </agm-info-window>

    </agm-marker>  -->
<!-- <agm-info-window [disableAutoPan]="true">{{marker.label}}</agm-info-window>

</agm-map>


-->
<!-- <div #mapRef style="width:100%;height:100%"></div> -->



<!-- <agm-map  [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng">
                  <agm-snazzy-info-window [isOpen]="true" [latitude]="lat" [longitude]="lng" [closeWhenOthersOpen]="true">
                    <ng-template>
                      My first Snazzy Info Window!
                    </ng-template>
                  </agm-snazzy-info-window>
                  </agm-marker>
                </agm-map> -->

<div class="map_content_bg">
  <agm-map [styles]="styles" [latitude]="center?center.lat : 52.3839" [longitude]="center ? center.lng: 4.9022 "
    [fullscreenControl]='true' [scrollwheel]="true" [mapTypeControl]='true' [zoom]="zoom">
    <agm-marker *ngFor="let data of Hotels; let i = index" [latitude]=" data?.location?.lat "
      [longitude]=" data?.location?.lng ">
      <agm-info-window [isOpen]="isOpen">
        <div class="card">
          <img class="card-img-top" src={{data?.image}}>
          <div class="card-body">
            <h4 class="card-title"> {{data?.title}} </h4>
            <h6 class="card-subtitle mb-2 text-muted"> {{data?.city}} </h6>
            <p class="card-text">{{data.information}} </p>

            <div class="website_open_link">
              <ul>
                <li>
                  <i class="fa fa-globe"></i>
                  <a href={{data?.website}} class="card-link" [target]="'_blank'">Website</a>
                </li>

                <li>
                  <i class="fa fa-map-marker"></i>
                  <a href="javascript:;">Open in Maps</a>
                </li>

              </ul>

            </div>






          </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>