<div class="bgimg">
    <header class="header_secion">
        <div class="logo_box">
            <a href="javascript:;"><img src="assets/valk.png"></a>
        </div>

        <div class="info_bg">
            <a id="informationButton" routerLink="/info"><i class="fa fa-info-circle"></i></a>
            <span>Hotel Information</span>
        </div>

    </header>


    <div class="phone_box">
        <div class="phone_inner">
            <a href="tel:0206642211">
                <i class="fa fa-phone"></i>
                <!--span style="font-size: 17px">&nbsp;{{"CALL-BUTTON" | translate}}</span-->
                <span style="font-size: 17px">&nbsp;{{"CALL-BUTTON" | translate}}</span>

            </a>
        </div>
    </div>








</div>