<div class="privacy_content"> 
    <div class="backloginBtn">
      <a routerLink="/login" class="btn btn-secondary"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Go back to log-in</a>
    </div>

    <div class="privacy_content_inner">
        
        PRIVACY POLICY VOICE FEEDBACK ASSISTANCE TOOL
        Version/Last update: August 2019

        VOICE FEEDBACK ASSISTANCE TOOL
        We, [naam en rechtsvorm klant] have obtained a license to use software which is marketed under the name Voice
        Feedback Assistance Tool, hereinafter: “the Tool”. The Tool is a software product which helps us improve our
        guest experience. With guest experience we mean a.o. receiving feedback from guests on our offering which we use
        to improve our offering and helping guest finding activities they are interested in. The Tool makes transparent
        what clients are and are not happy with in the hotel and which parts of the offering can be improved. In this
        privacy policy we explain which data we use and how we save, protect and process this data. This privacy policy
        applies to the services that we offer. We comply with the General Data Protection Regulation (the "Relevant
        Legislation").
        Your privacy is important to us
        Our use of the Voice Feedback Assistance Tool, implies that personal data of you and other guests will be
        processed. With “personal data” we mean information or pieces of information that could allow you to be
        identified – such in accordance with the Dutch Data Protection Act (Wet Bescherming Persoonsgegevens),
        hereinafter: “DDPA”. The DDPA is based on the General Data Protection Regulation.

        We consider the privacy of our guests of great importance. In this “Privacy Policy”, we want to inform you what
        kind of personal data we process when using the Tool, and how we store and protect your personal data.
        Furthermore you can read for which purposes we will use your personal data.

        Legitimate interest, your consent
        Our business operations are based on Article 6(1)(f) of the General Data Protection Regulation (GDPR), which
        states that: ‘processing is necessary for the purposes of the legitimate interests pursued by the controller or
        by a Third Party, except where such interests are overridden by the interests or fundamental rights and freedoms
        of the data subject which require protection of Personal Data, in particular where the data subject is a child.’
        The Legitimate Interest criteria set out by the GDPR require that we follow strict guidelines for the processing
        of Personal Data. GDPR considers an “interest” to be the broad stake a Controller may have in data processing,
        or the benefit that a Controller may derive from such processing. An interest is considered legitimate as long
        as the Controller can pursue it in compliance with data protection and related laws.
        The collection, use and disclosure of personal data through use of the Tool, serves our legitimate interest. We
        have a legitimate interest to improve and optimize the experience that hotel guests are having.

        Because we value transparency, we however ask you to agree to this Privacy Policy when using this tool. Please
        note that you are not obliged to agree to this privacy policy.

        What does this Privacy Policy apply to?
        This Privacy Policy applies to our and your usage of the Tool.

        Which personal data do we process when using the Tool?
        When use the Tool we will collect your voice recordings. We will (re-)process these data of those recordings.
        Further, we will (re-)process your searches performed with the tool.

        All data (re-)processing mentioned in this paragraph takes places within the digital environment of the Tool.
        For integrations with external tooling we have put in place data processing agreements in line with the legal
        requirements. We use the designation (re)-processing, because it could be that, we already have records of
        certain personal data based on previous vistis.

        No sensitive data (such as data regarding religion, sexual life, physical or mental health) shall be processed
        by us when using the Tool.

        How do we use your personal data?
        We use abovementioned personal data for the purposes described below.


        We use your voice feedback to identify which parts of our service offering you do and don’t like and to identify
        based on the feedback what improvements we can and should make.
        We use your search terms to provide you with relevant information to optimize your experience. Based on
        frequently performed searches we can then again update our service offering.
        Your personal data will not be shared with third parties
        Unless we are legally obliged to do so, we will not sell, trade, or rent your personal data to third parties.

        Hier staat dat we data niet met derde partijen delen, terwijl hierboven staat:

        For integrations with external tooling we have put in place data processing agreements in line with the legal
        requirements. We use the designation (re)-processing, because it could be that, we already have records of
        certain personal data based on previous vistis.

        We delen de data met google cloud en hotels. Zijn hotels de hoofdpartij of derde partij?

        Generic aggregated (anonymized) data
        We may share generic aggregated data with the developer of the Tool, such for analysis purposes and the
        improvement of the functionalities of the Tool. In such event the data will be irreversibly anonymized: they
        will not contain (pieces of) information that could allow you to be identified and will therefore not contain
        any personal data.


        For what period will we retain your data?
        As a rule, we will delete the personal data which we process by using the Tool two years after your usage of the
        tool. We will only retain your personal data for a longer period in case we are legally obliged to do so. Before
        deleting your personal data, we may irreversibly anonymize your personal data and retain these as generic
        aggegrated data for further improvement of our tooling.

        How do we protect your personal data?
        We work hard to protect your personal data from unauthorized or unlawful access, alteration, disclosure, use or
        destruction of your personal data. Your data will only be processed and stored within EU territory. We make use
        of data-encryption, the data are only accessible through a secret password and our employees only have access to
        your data on a need-to-know basis. Further, the data are stored according to NEN-ISO/IEC 27002:2007 NL.
        Modifications to this Privacy Policy
        This Privacy Policy may be updated from time to time. When this Privacy Policy is updated in a significant way,
        we will notify you via the Tool.

        Your rights and who to contact
        The data we collect is personal. Therefore, you have the following rights:
        You may request access to the personal data we process about you;
        You may request us to correct, update, shield or delete your personal information in our records;
        You may file a complaint against processing your data;
        You may file a complaint with the Dutch Data Protection Authority (Autoriteit Persoonsgegevens), if you are
        under the impression that we process your data unlawfully;
        You may always withdraw your consent to process your data. We cannot process your data from the moment you
        withdraw your consent.

        If you have any questions, comments or concerns about how we handle your personal data in relation to our use of
        the Tool, please contact [naam verantwoordelijke afdeling van klant, als mogelijk specifieke
        contactpersoon/personen noemen, inc. telefoonnummers en emailadressen].
    </div>
</div>