.header
{
    height: 260px;
    width: 100%;
    background-color: white;
    color: darkgray;
    text-align: center;
    padding-top: 89px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
   
}

h4
{
    font-size: 1.5rem;
    font-family: inherit;
    text-align: center;
    color: darkgray;
    
}

.roomprod
{
    height: 350px;
    width: 1500px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 163px;
    margin-top: 100px;
}

.indiv
{
    text-align: center;
    padding-top: 120px;
}

.btn
{
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}
