<div class="room_service_content_bg">
        <div class="room_service_header" style="background:white">
           <div class="room_service_top">

              <div class="header_title">Ontbijt Gerechten</div>
              <div class="bestel_btn" style="padding-left: 829px;">
                    <button (click)="callReception()">
                    <i class="fa fa-angle-right"></i>
                    <span>Reserveer nu</span>
                    </button>
             </div>
           </div>
        </div>
        <div class="room_service_warper">
           <div class="service_list_bg">
                
               <h4>Koude broodjes</h4>
              <ul>
                 <li>
                    <h4>Club Sandwich Zalm</h4>
                    <p>Torentje van brood met gerookte zalm, remouladesaus, tomaat, rode ui, kappertjes, gekookt ei en ijsbergsla</p>
                    <p>€ 20 euro</p>
                 </li>
                 <li>
                    <h4>Maisbrood kip</h4>
                    <p>Maisbrood belegd met een salade van gerookte kip, avocado, bacon, ei, mayonaise en ijsbergsla</p>
                    <p>€ 9,50</p>
                 </li>
                 <li>
                    <h4>Speltbrood Brie</h4>
                    <p>Maisbrood belegd met een salade van gerookte kip, avocado, bacon, ei, mayonaise en ijsbergsla</p>
                    <p>€ 9,50</p>
                    
                 </li>
                 <li>
                    <h4>Stokbroodje van biologisch groninger tarwe</h4>
                    <p>Met carpaccio van biologisch rundvlees, Parmezaanse kaas, rucola, pijnboompitten en basilicum olie</p>
                    <p>€ 8,50</p>
                    
                 </li>

                 <h4>Warme broodjes</h4>

                 <li>
                        <h4>Panini Beenham</h4>
                        <p>Panini met beenham, oude boerenkaas en Roseval chips</p>
                        <p>€ 8,00</p>
                     </li>
                     <li>
                        <h4>Panini Geitenkaas</h4>
                        <p>Panini met geitenkaas, tomaat, honing, walnoten en Roseval chips</p>
                        <p>€ 9,00</p>
                     </li>
                     <li>
                        <h4>Panini Serranoham</h4>
                        <p>Panini met Serranoham, pesto, mozzarella en Roseval chips</p>
                        <p>€ 9,75</p>
                        
                     </li>
                     <li>
                        <h4>Waldkornbrood Beenham</h4>
                        <p>Met carpaccio van biologisch rundvlees, Parmezaanse kaas, rucola, pijnboompitten en basilicum olie</p>
                        <p>€ 9,75</p>
                        
                     </li>
                
                 
              </ul>
           </div>
        </div>
     </div>


