<div class="assistant_content_bg">
    <div class="assistant_content_inner">
        <div *ngIf="!RatingVisible">
            <!-- feedaback voice -->
            <div *ngIf="show">

                <div class="assistant_content_box">
                    <p> Do you have a compliment, suggestion or complaint for us? Please press the microphone button and
                        voice your feedback.</p>
                </div>


                <div [hidden]="!isRecording" id="waveform"></div>

                <div *ngIf="!isRecording && !blobUrl" class="assistant_button">
                    <button type="button" (click)="startRecording()">
                        <i class="fa fa-microphone"></i>
                    </button>
                </div>

                <div *ngIf="isRecording && !blobUrl" class="stoprecording_btn">
                    <p>{{recordedTime}}</p>
                    <button (click)="stopRecording()" class="Rec"></button>
                </div>

                <div *ngIf="isRecording && !blobUrl" class="assistant_content_box">
                    <p>You are now recording your feedback</p>
                </div>

                <div *ngIf="!isRecording && blobUrl" class="record_audio_box">
                    <audio controls>
                        <source [src]="blobUrl" type="audio/webm">
                    </audio>
                </div>

                <div *ngIf="!isRecording && blobUrl" class="send_feedback_btn">
                    <button (click)="analyzeVoiceFeedback()">
                        <i class="fa fa-angle-right"></i>
                        <span>Send my voice feedback to the hotel</span>
                    </button>
                </div>

                <div class="voice_feedback_btn" *ngIf="!isRecording && blobUrl">
                    <button (click)="clearRecordedData()">
                        <i class="fa fa-refresh"></i>
                        <span>Redo my voice feedback</span>
                    </button>
                </div>

                <div id="typeButtonng" (click)="textfeedback()" class="small_btn">
                    <i class="fa fa-angle-right"></i>
                    <span>If you prefer typing your feedback, please click here.</span>
                </div>
            </div>


            <!-- feedback type -->
            <div *ngIf="show1">
                <div class="assistant_content_box">
                    <p>Please tell us your feedback</p>
                </div>

                <div class="feedback_message_box">
                    <textarea maxlength="300" class="form-control" rows="8" id="comment"></textarea>
                </div>

                <div class="send_feedback_btn">
                    <button (click)="analyzeTextFeedback()" type="button">
                        <i class="fa fa-angle-right"></i>
                        <span>Send feedback</span>
                    </button>
                </div>

                <div class="giving_feedback" (click)="voicefeedback()">
                    <p>If your prefer giving feedback by voice, please click here.</p>
                </div>

            </div>
            <div *ngIf="feedback" class="load loader_inner">
                <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
                <p id="analyzeTextID">We are analyzing your feedback</p>
            </div>
        </div>

        <!--  -->
        <div *ngIf="RatingVisible">
            <div class="assistant_content_box">
                <p>Do you please want to provide a rating for the following items? We will improve our service based on
                    your ratings.</p>
            </div>
            <div *ngFor="let dat of data; let i = index">
                <div class="feedaback_list_bg">
                    <h4>{{dat}} :</h4>
                    <!-- <div class="col-xs-4 well">{{scr}}</div> -->

                    <div class="feedback_list">
                        <ul>

                            <li id="button04"
                                [style.background-color]="(toggle == scr && toggleIndex == i) ? 'darkgray' : 'lightgrey'"
                                *ngFor="let scr of score;" >
                                <div style="margin-top:4px" (click)="giveRating(i,scr)">
                                    <span style="color:white">{{scr}}</span>      
                                </div>
                            </li>

                        </ul>
                    </div>


                </div>

            </div>


            <div class="send_rating_btn">
                <button (click)="goToContactPage()" type="button" class="btn" style="background-color: lightgrey"><i
                        class="fa fa-angle-right"></i>&nbsp;Send ratings</button>
            </div>


        </div>


        <div class="assistant_content_box" *ngIf="thankyou">
            <p>Thank you for giving feedback, we will carefully handle your feedback.</p>
        </div>

    </div>
</div>