@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #a8afa8!important;

   
    }


    .mat-progress-spinner {
        display: inline-block ;
    }
