

<div class="room_service_content_bg">
   <div class="room_service_header">
      <div class="room_service_top">
         <div class="back_btn" (click)="goBack();"><i class="fa fa-angle-left"></i></div>
         <div class="header_title">Room Service</div>
      </div>
      <div class="room_service_list">
         <ul>
            <li>Voorgerechten</li>
            <li>Hoofdgerechten</li>
            <li>Nagerechten</li>
            <li>Voorgerechten</li>
            <li>Bijgerechten</li>
            <li>Drank</li>
         </ul>
      </div>
   </div>
   <div class="room_service_warper">
      <div class="service_list_bg">
         <ul>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
            <li>
               <h4>Carpaccio van de ossenhaas met parmezaanse kaas</h4>
               <p>€ 20 euro</p>
               <div class="bestel_btn">
                  <button (click)="callReception()">
                  <i class="fa fa-angle-right"></i>
                  <span>Bestel</span>
                  </button>
               </div>
            </li>
         </ul>
      </div>
   </div>
</div>

