<div   class="offers_page_content" >
    <div class="card text-center"  *ngFor="let offer of offerData">
       <div class="card-header">
        Featured  {{offerHeader}}
       </div>
       <div class="card-body">
          <br>
          <h5 class="card-title">{{offer.title}}</h5>
          <p class="card-text" >{{offer.text}}</p>
          <button (click)="order(offerHeader)" class="btn btn-primary">Order</button>
          <br>
       </div>
    </div>
 </div>