/* You can add global styles to this file, and also import other style files */

*{box-sizing: border-box;}
html, body { height: 100%; box-sizing: border-box;}
body { margin: 0; font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important; color: #373a3c;}

a,button{-webkit-transition: 0.5s ease-in-out; -moz-transition:0.5s ease-in-out; -o-transition: 0.5s ease-in-out; transition:0.5s ease-in-out;}

/*Home-screen-css-here*/

.bgimg{overflow-y: hidden;overflow-x: hidden; height: calc(100vh - 85px);}
.header_secion{display: flex; padding: 15px 15px 15px 0px;}
.logo_box{margin-right:auto;}
.logo_box img{width: 135px;}
.info_bg{margin-left:auto; display: flex; color: #fff; align-items: center;}
.info_bg a{color: #fff; font-size:30px;}
.info_bg span{padding-left:15px;}
.phone_box{display: flex; align-items: center; justify-content: center; min-height: calc(100vh - 200px);}
.phone_inner a{background: #555555; opacity: 0.8; padding: 15px 32px; text-align: center; display: flex; font-size: 14px; text-decoration: none; align-items: center; justify-content: center;}
.phone_inner a i{font-size: 20px; color: #fff; border-radius: 60px; box-shadow: 0px 0px 2px #888; padding: 0.5em 0.6em; background-color:grey;}
.phone_inner a span{color:#fff; padding-left: 10px;}

/*login-screen-css-here*/

.app_form_bg{min-height: 100vh; padding: 15px 0px; background: url(assets/adam.png) no-repeat; background-size:cover; display: flex; align-items: center; justify-content: center; background-position: center;}
.form_content_inner{width: 90%; border: 0.3px solid lightgrey; background: rgba(255,255,255,0.9); padding: 15px; text-align: center;}
.fild_box{display: block !important;}
.form_head{margin-bottom: 15px;}
.form_head h4{margin: 0; padding: 0; font-size: 1rem; color: #373a3c; font-weight: normal;}
.form_head p{margin: 0; padding: 0; font-size: 1rem; color: #373a3c; font-weight: normal;}
.form_submit_button{margin-bottom: 10px;}
.form_submit_button button{width: 100%; border:none; background: rgba(0,0,0,0.8); height: 52px; font-size: 1rem; color: #fff; cursor: pointer;}
.form_submit_button button:hover{background: #000; color: #fff;}
.skip_button a{font-size: 1rem; color:#373a3c;}
.agree_checkbox{padding-top: 10px;}
.agree_checkbox label{padding-left: 10px; color: #373a3c; font: 1rem 'Fira Sans', sans-serif;}
.privacy_link{margin-top: 10px;}
.privacy_link a{text-decoration: none; color: #0275d8; font-size: 1rem;}
.privacy_link a:hover{color:#014c8c; text-decoration: underline;}
.errormessage_bg {padding-top: 10px; padding-bottom: 10px;}
.errormessage_bg p{color: darkgray;}

/*privacy-screen-css-here*/

.privacy_content{padding: 15px;}
.backloginBtn a{color:#373a3c; background-color:#fff; border:solid 1px #ccc; text-decoration: none; padding: 8px 15px; font-size: 1rem; font-weight: 400; border-radius:4px; display: inline-block;}
.privacy_content_inner{font-size: 1rem; line-height: 1.5; color:#373a3c; padding-top: 15px;}

/*info-page-css-here*/

.info_service_bg{height: calc(100vh - 80px);}
.info_service_bg button{border: none; background: #777777; width: 100%; text-align: center; display: flex; align-items: center; height: 49%; justify-content: center; font-size: 20px; color: #fff; cursor: pointer;}
.info_service_bg button:last-child{margin-top: 2%;}
.info_service_bg button i{margin-right:10px;}

/*service-page-css-here*/

.service_overview_content{height: calc(100vh - 80px); position: relative; overflow: auto;}
.alpha_list{position: fixed; left: 0; top:0; width: 100%; z-index: 99; display: flex; background: ghostwhite; padding: 0 .5em;}
.alpha_list button{flex: 1; border:none; background: none; height: 38px; text-align: center; color: darkgray; font-size: 1.2em; margin: .5em 0; cursor: pointer; border-radius:5px;}
.alpha_list button:hover{background: #ddd; color: #333;}
.service_list{padding: 72px 15px 15px 15px;}
.service_list ul{display: flex; flex-wrap: wrap; list-style: none; margin: 0; padding: 0;}
.service_list ul li{width: 33.3%; margin-bottom: 1.5rem;}
.service_list ul li:last-child{margin-bottom: 0;}
.service_list ul li a{text-decoration: none; margin: 0; font-size: 1.3em; font-weight: 500; color:darkgray;}

.assistant_content_bg.service_overview_bg{background: #fff;}
.service_overview_list ul{margin: 0; padding: 0; list-style: none;}
.service_overview_list ul li{width: 100%; margin-bottom: 50px; color: #373a3c; font-size: 1.25rem; font-weight: 500; line-height: 1.1;}  
.service_overview_list ul li:last-child{margin-bottom: 0;}


/*activities-page-css-here*/

.activities_content{height: calc(100vh - 80px); display: flex;}
.activities_list{display: flex; width: 100%;}
.activities_content ul{display: flex; flex-wrap: wrap; margin: 0; padding: 0; list-style: none; width: 100%;}
.activities_content ul li{border-bottom: solid 2px #fff; border-right:solid 2px #fff; width: 50%; display: flex;}
.activities_content ul li:nth-child(even){border-right:none;}
.activities_content ul li a{display: flex; align-items: center; justify-content: center; text-decoration: none; font-size: 18px; color: #fff; background: #777777; width: 100%;}
.activities_content ul li a i{margin-right:10px;}

/*walking-page-css-here*/

.picsum-img-wrapper{height:calc(100vh - 90px); justify-content: center;}
.carousel-control-next, .carousel-control-prev{height:calc(100vh - 90px);}
.card-img-top{height:100%; object-fit: cover;}
.walking_bg{height: 100%;}
.walking_bg .carousel-item{padding-bottom: 90px;}
.walking_bg .carousel-control-next, .walking_bg .carousel-control-prev{opacity: 1 !important;}
.walking_bg .carousel-control-next-icon, .walking_bg .carousel-control-prev-icon{width: 25px; height: 25px;}
.walking_bg .card-body{padding: 15px;}
.walking_bg .card-body h4{margin: 0px 0 15px 0px;  font-size: 1.5rem;}
.walking_bg .card-body h6{color: #818a91; font-size: 1rem;}
.walking_bg .card-body p{color: #212529;}
.card_button{display: flex;}
.card_button a {color: #0275d8 !important;}

/*offers-page-css-here*/

.offers_page_content{height:calc(100vh - 87px); padding: 15px; overflow: auto; box-sizing: border-box; background: #555555; opacity: 0.8;}
.offers_page_content .card{margin-bottom: 15px;}
body .btn-primary{background-color:#0275d8; border-color:#0275d8; color:#fff;}
body .btn-primary:hover{color:#fff; background-color:#025aa5; border-color:#01549b;}

/*food-roomservice-page-css-here*/

.room_service_content_bg{height: calc(100vh - 80px); overflow: auto;}
.room_service_header{background: #333; padding: 15px; position: fixed; left: 0; top: 0; width: 100%; z-index: 9;}
.room_service_top{position: relative;}
.back_btn{font-size: 40px; color: #fff; position: absolute; left: 0; top: -17px; cursor: pointer;}
.header_title{text-align: center; color: darkgray; font-weight: 500; font-size:18px;}
.room_service_list{padding-top: 15px;}
.room_service_list ul{display: flex; margin:0; padding: 0; list-style: none; flex-wrap: wrap;}
.room_service_list ul li{flex: 0 0 33.3%; max-width: 33.3%; font-size:12px; color:darkgray;}
.room_service_warper{padding: 123px 15px 15px 15px;}
.service_list_bg ul{margin:0; padding: 0; list-style: none;}
.service_list_bg ul li{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: #fff; padding: 15px; text-align: center; margin-bottom: 15px;}
.service_list_bg ul li:last-child{margin-bottom: 0;}
.service_list_bg ul li h4{color: darkgray; margin: 0; padding: 0; font-size: 1rem;}
.service_list_bg ul li p{margin:0; padding: 15px 0px; color: darkgray; font-size: 1rem;}
.bestel_btn button{border:none; background-color: lightgrey; border:solid 1px #ccc; color: #373a3c; padding: .375rem 1rem; font-size: 20px; border-radius:4px;}
.bestel_btn button span{padding-left: 5px;}

/*Assistant-page-css-here*/

.assistant_content_bg{background-color:#555555; opacity: 0.8; height: calc(100vh - 86px); overflow: auto; display: flex; align-items: center; justify-content: center;} 
.assistant_content_inner{width: 100%; max-height: 100%; overflow: auto; padding: 15px; text-align: center;}
.assistant_content_box{padding: 30px 0px;}
.assistant_content_box p{font-size: 20px; color: #fff; margin:0; padding: 0; line-height: 1.5;}
.assistant_button button{border:none; background: none; font-size: 85px; color: #000;}
.assistant_content_box p:nth-child(2){margin-top: 30px;}
.stoprecording_btn{width: 100%;}
.stoprecording_btn p{font-size: 20px; color: #000;}
.Rec{width: 50px; height: 50px; font-size: 0; background-color: black; border: 0; border-radius: 35px; margin: 18px; outline: none; animation: shadow-pulse 1s infinite; animation-duration: 1.5s; animation-iteration-count: infinite; animation-timing-function: linear;}

.loader_bg{text-align: center;}
.loading-indicator{display: inline-block; height: 2em; width: 2em;}
.loader_inner{display: inline-block;}
.loader_inner .mat-progress-spinner circle, .mat-spinner circle{stroke: #fff;}


/*feedback-page-css-here*/

.small_btn{background: none; border:none; font-size: 13.5px; color:white; margin-top: 30px;}
.voice_feedback_btn{background: none; border:none; font-size: 13.5px; color:white;}
.voice_feedback_btn button{font-size: 13.5px; color:white; background: none; border:none;}
.voice_feedback_btn button i{margin-right:5px;}

.small_btn i{margin-right: 5px;}
.feedback_message_box textarea{opacity: 0.8; width:100%; background-color: lightgrey;}
.feedback_message_box textarea:focus{background-color: lightgrey;}
.send_feedback_btn{text-align: center; padding: 15px 0px;}
.send_feedback_btn button{background: none; border:none; opacity: 0.8; font-size: 18px; color: white;}
.send_feedback_btn button i{margin-right: 5px;}
.giving_feedback p{font-size: 13.5px; color:white;}
.load p {font-size: 18px; color: white;}

#waveform wave{border: none !important;}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
} 

@keyframes shadow-pulse-big
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

.send_rating_btn{display: flex; align-items: center; justify-content: center; padding: 30px 0px;}
.feedaback_list_bg h4{font-size: 18px; color:#fff; margin: 15px 0px;}
.feedback_list ul{display: flex; margin: 0; padding: 0; list-style: none;}
.feedback_list ul li{flex: 1; height: 186px; border: 1px solid lightgrey; margin-left: 2px; background-color: darkgray; opacity: 0.8; display: flex; justify-content: center;}


.map_content_bg{background-color:#555555; height: calc(100vh - 86px); }
.website_open_link ul{display: flex; list-style: none; margin: 0; padding: 0;}
.website_open_link ul li{margin-right: 10px;}
.website_open_link ul li:last-child{margin-right: 0;}
.website_open_link ul li i{margin-right: 5px;}
.website_open_link ul li a:hover{text-decoration: none;}



/*footer-css-here*/

app-footer{position: fixed; left: 0; width: 100%; bottom: 0;  z-index: 9; background: #333;}
.footer_menu ul{display: flex; list-style: none; margin: 0; padding: 0;}
.footer_menu ul li{flex: 0 0 20%; max-width: 20%;}
.footer_menu ul li a{font-size: 15px; padding: 20px 0px; color: #f2f2f2; text-align: center; text-decoration: none; display: flex; align-items: center; justify-content: center; flex-wrap: wrap;}
.footer_menu ul li a span{display: block; width: 100%; margin-bottom: 5px;}
.footer_menu ul li a i{font-size: 20px;}
.footer_menu ul li a:hover{background: lightgrey; color: #333;}

/*Responsive-css-here*/

@media only screen and (min-width:480px) and (max-width:767px){
.alpha_list{flex-wrap: wrap;}
.alpha_list button{margin: 5px 0px; flex: initial; width: 34px;}
.service_list{padding: 111px 15px 15px 15px;}
.service_list ul li{width: 100%;}
.alpha_list{background: #3d3d3d;}
.picsum-img-wrapper{height:40vh;}
.carousel-control-next, .carousel-control-prev{height:40vh;}
}

@media only screen and (min-width:0px) and (max-width:479px){
.alpha_list{flex-wrap: wrap;}
.alpha_list button{margin: 0px 0px; flex: initial; width: 30px;}
.service_list{padding: 130px 15px 15px 15px;}
.service_list ul li{width: 100%;}
.alpha_list{background: #3d3d3d;}
.picsum-img-wrapper{height:40vh;}
.carousel-control-next, .carousel-control-prev{height:40vh;}
}









