<div class="service_overview_content">
<div class="alpha_list"> 
    <button (click)="filter('A')">A</button>
    <button (click)="filter('B')">B</button>
    <button (click)="filter('C')">C</button>
    <button (click)="filter('D')">D</button>
    <button (click)="filter('E')">E</button>
    <button (click)="filter('F')">F</button>
    <button (click)="filter('G')">G</button>
    <button (click)="filter('H')">H</button>
    <button (click)="filter('I')">I</button>
    <button (click)="filter('J')">J</button>
    <button (click)="filter('K')">K</button>
    <button (click)="filter('L')">L</button>
    <button (click)="filter('M')">M</button>
    <button (click)="filter('N')">N</button>
    <button (click)="filter('O')">O</button>
    <button (click)="filter('P')">P</button>
    <button (click)="filter('Q')">Q</button>
    <button (click)="filter('R')">R</button>
    <button (click)="filter('S')">S</button>
    <button (click)="filter('T')">T</button>
    <button (click)="filter('U')">U</button>
    <button (click)="filter('V')">V</button>
    <button (click)="filter('W')">W</button>
    <button (click)="filter('X')">X</button>
    <button (click)="filter('Y')">Y</button>
    <button (click)="filter('Z')">Z</button>
</div>

<div class="service_list">
 <ul>
  <li *ngFor="let item of serviceItems"><a [routerLink]="['/service/service-overview',item.name]">{{item.name}}</a></li>
 </ul>
</div>


</div>



