<div class="walking_bg">
    <div class="card">
       <ngb-carousel #mycarousel (slide)="onSlide($event)" [showNavigationArrows]="true"
          [showNavigationIndicators]="false" interval="3333" [keyboard]="true" [pauseOnHover]="true" [wrap]="true">
          <ng-template ngbSlide *ngFor="let data of serviceItems">
             <div class="picsum-img-wrapper">
                <img [src]=" serviceItems ? data.image : '' " alt="Random first slide" class="card-img-top">
             </div>
             <div class="card-body">
                <h4 class="card-title">{{serviceItems ? data.title : ''}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{serviceItems ? data.city : ''}}</h6>
                <p class="card-text">{{serviceItems ? data.information : ''}}</p>
                <div class="card_button"> 
                   <a class="card-link" style="cursor: pointer" (click)="mapCAll(data.category, data.id)"  ><i class="fa fa-map-marker"></i>&nbsp;See on Map</a>
                   <a id="website" class="card-link" href="{{data.website}}"  [target]="'_blank'" ><i class="fa fa-globe"></i>&nbsp;Go to website</a>
                </div>
             </div>
          </ng-template>
       </ngb-carousel>
    </div>
 </div>

 <!-- <a href=map/{{item.category}}?id={{item.id}}" 
 class="card-link" style="margin-bottom:20px;margin-left:5%"><i class="fa fa-map-marker"></i>&nbsp;See on Map</a> -->
