<div class="activities_content">
  <div class="activities_list">
    <ul>
      <li>
        <a [routerLink]="['/activities/food']">
          <i class="fa fa-cutlery" aria-hidden="true"></i>
          <span>Food</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/activities/culture']">
          <i class="fa fa-university"></i>
          <span>Culture</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/activities/nightlife']">
          <i class="fa fa-glass" aria-hidden="true"></i>
          <span>Nightlife</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/activities/tours']">
          <i class="fa fa-list-alt"></i>
          <span>Tours</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/activities/other']">
          <i class="fa fa-ticket"></i>
          <span>Other</span>
        </a>
      </li>

      <li>
        <a [routerLink]="['/activities/Assistant']">
          <i class="fa fa-microphone"></i>
          <span>Assistant</span>
        </a>
      </li>
    </ul>

  </div>
</div>






<!-- <div>
    <button class="start-button" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">Start Recording</button>
    <button class="stop-button" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">Stop Recording</button>
    <button class="cancel-button" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button>
    <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
    <div>
        <audio *ngIf="!isRecording && blobUrl" controls>
            <source [src]="blobUrl" type="audio/webm">
        </audio>
    </div>
</div> -->