

<div class="room_service_content_bg">
    <div class="room_service_header">
       <div class="room_service_top">
          <div class="back_btn" (click)="goBack();"><i class="fa fa-angle-left"></i></div>
          <div class="header_title">Lunch</div>
       </div>
       <div class="room_service_list">
          <ul>
             <li>Voorgerechten</li>
             <li>Hoofdgerechten</li>
             <li>Nagerechten</li>
             <li>Voorgerechten</li>
             <li>Bijgerechten</li>
             <li>Drank</li>
          </ul>
       </div>
    </div>
    <div class="room_service_warper">
       <div class="service_list_bg">
          <ul>
             <li>
                <h4>Club Sandwich Zalm</h4>
                <p>Torentje van brood met gerookte zalm, remouladesaus, tomaat, rode ui, kappertjes, gekookt ei en ijsbergsla</p>
                <p>€ 20 euro</p>
             </li>
             <li>
                <h4>Maisbrood kip</h4>
                <p>Maisbrood belegd met een salade van gerookte kip, avocado, bacon, ei, mayonaise en ijsbergsla</p>
                <p>€ 9,50</p>
             </li>
             <li>
                <h4>Speltbrood Brie</h4>
                <p>Maisbrood belegd met een salade van gerookte kip, avocado, bacon, ei, mayonaise en ijsbergsla</p>
                <p>€ 9,50</p>
                
             </li>
             <li>
                <h4>Stokbroodje van biologisch groninger tarwe</h4>
                <p>Met carpaccio van biologisch rundvlees, Parmezaanse kaas, rucola, pijnboompitten en basilicum olie</p>
                <p>€ 8,50</p>
                
             </li>
            
             
          </ul>
       </div>
    </div>
 </div>