<div class="assistant_content_bg service_overview_bg">
    <div class="assistant_content_inner">
     <div class="service_overview_list">
      <ul>
       <li>{{getObject.name}}</li>
       <li>{{getObject.desription}}</li>
      </ul>
     </div>
    </div>
  </div>
  
  
  
  