<div class="offers_page_content">

<div  >
   <div class="card text-center"  *ngFor="let data of OffersData">
      <div class="card-header">
         {{data.header}}
      </div>
      <div class="card-body">
         <br>
         <h5 class="card-title">{{data.title}}</h5>
         <p class="card-text" >{{data.text}}</p>
         <button (click)="offer(data.id)" class="btn btn-primary">{{data.button}}</button>
         <br>
      </div>
   </div>
</div>


</div>