<div class="info_service_bg">
    <button routerLink="/service"><i class="fa fa-question-circle"></i> <span>A-Z service overview</span></button>
    <button routerLink="/map"><i class="fa fa-map-marker"></i> <span>Map</span></button>
</div>